/* Mobile Styles - Center the logo */
@media screen and (max-width: 760px) {
  .logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 130%;
  }
  .logoImage {
    width: 140px;
  }
  .mobileIcons {
    margin-left: 120%;
  }
}

/* Desktop Styles - Center the desktop links */
